*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
.conatiner .Navbar-app{
  position:fixed;
  top:0;
  right:0;
}
.conatiner .home-app{
  display:flex;
  align-items:center;
  justify-content:center;
  flex-direction:column;
  background-color:yellow;
}